# Dependencies should be installed inside the image
node_modules/

# Build and test artifacts
build/
coverage/
.cache/
cypress/videos/
cypress/screenshots/

# Ignore local logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tmp
tmp/
.DS_Store
Thumbs.db

# Ignore Git repository
.git/
.gitignore

# Secrets
.env
.env.*

# Dev files
cypress/
.eslintrc.json
.prettierrc
craco.config.js
cypress.config.js
