# Dependencies should be installed inside the image
node_modules/

# Ignore local logs
npm-debug.log
yarn-debug.log

# Ignore temporary files
*.log
.cache
*.tmp
.DS_Store
Thumbs.db

# Ignore Git repository
.git/
.gitignore

# Secrets
.env

# Dev files
cypress/
.eslintrc.json
.prettierrc
craco.config.js
cypress.config.js