* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #1c34d4;
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 4rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li.active {
    background-color: #e7e7e7;
}

.nav li:hover {
    background-color: #2929d4;
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}  

